In [4]:
print("oli ivana")

oli ivana

#### fundamentos de python
 * variables
 * operadores matematicos
 * operadores logicos
 * operadores de comparacion
 * estructuras de control
    - condicionales simples
    - condiconales anidados
    - condicionales encadenados
    - ciclos finitos
    - ciclos infinitos
 * funciones
 * estructura de datos
    - Cadena de caracteres
    - listas
    - tuplas
    - diccionarios

### variables

In [31]:
name = "jose"

'jose'

In [30]:
last_name = "martinez"

In [34]:
anchura = 10
altura = 80
area = qwert * asdfg

area

800

In [39]:
print("nombre", name)
print("apellido", last_name)
print("area", area)

nombre jose
apellido martinez
area 800

# operadores matematicos

In [42]:
# suma
numero_1 = 10
numero_2 = 25
resultado = numero_1 + numero_2
print("el resultado de la suma es", resultado)

el resultado de la suma es 35

In [44]:
# resta
numero_1 = 10
numero_2 = 25
resultado = numero_1 - numero_2
print("el resultado de la resta es", resultado)

el resultado de la resta es -15

In [45]:
# multiplicacion
numero_1 = 10
numero_2 = 25
resultado = numero_1 * numero_2
print("el resultado de la multiplicacion es", resultado)

el resultado de la multiplicacion es 250

In [46]:
# division
numero_1 = 10
numero_2 = 25
resultado = numero_1 / numero_2
print("el resultado de la division es", resultado)

el resultado de la division es 0.4

In [48]:
print  ( type(last_name) )
print  ( type(numero_1) )
print  ( type(resultado) )

<class 'str'>
<class 'int'>
<class 'float'>

### Estructuras de control

In [6]:
name1 = "pablo"
age = 16

In [8]:
if (age > 15):
    print ("buenos dias, adelante")

buenos dias, adelante

In [17]:
name1 = input("ingrese su nombre")
age = input("ingrese su edad")
age = int(age)
if (age > 15):
    print ("buenos dias, adelante", name1)

In [19]:
type(age)

int

In [33]:
name1 = input("ingrese su nombre")
age = int(input("ingrese su edad"))
day = input("ingrese el dia de la semana")
if (age > 15):
    if day == "sabado":
        print("buenos dias, adelante", name1)

buenos dias, adelante ale

In [59]:
name1 = input("ingrese su nombre")
age = int(input("ingrese su edad"))
day = input("ingrese el dia de la semana")
if (age > 15) and (day == "sabado"):
        print("buenos dias, adelante", name1)

buenos dias, adelante axel

In [46]:
name1 = input("ingrese su nombre")
age = int(input("ingrese su edad"))
day = input("ingrese el dia de la semana")

if (age > 15) and ((day == "sabado") or (day == "viernes")):
    print("buenos dias, adelante", name1)

buenos dias, adelante alex

In [58]:
name1 = input("ingrese su nombre")
age = int(input("ingrese su edad"))
day = input("ingrese el dia de la semana")

if (age > 15):
    if (day == "sabado") or (day == "viernes"):
        print("buenos dias, adelante", name1)

buenos dias, adelante ale

In [57]:
name1 = input("ingrese su nombre")
age = int(input("ingrese su edad"))

if (age > 15):
    day = input("ingrese el dia de la semana")

    if (day == "sabado") or (day == "viernes"):
        print("buenos dias, adelante", name1)
        
    else:
        print("no es viernes o sabado chavalin, vuelve algiuno de esos dias", name1)

else:
    print("venga tio fuera de aqui", name1)

buenos dias, adelante miguel

####condicionales encadenados

In [66]:
name1 = input("ingrese su nombre")
day = input("ingrese el dia de la semana")

if (day == "lunes"):
    print("voy al voley")

elif (day == "martes"):
    print("voy al gym")

elif (day == "miercoles"):
    print("voy al mercado")

elif (day == "jueves"):
    print("intentar pegarme un tiro")

elif (day == "viernes"):
    print("ser feli")
else:
    print("fin de semana")

# if (day == "viernes"):
#         print("buenos dias, adelante", name1)    
# else:
#         print("no es viernes chavalin, vuelve alguno de esos dias", name1)

fin de semana

### ciclos finitos -> for

In [85]:
for num in range(5,11,2):
    if num == 9:
        print("encontre el", num)

encontre el 9

In [88]:
name_list = ["jose", "maria", "pedro"]

In [90]:
len(name_list)

3

In [101]:
name_list.append("raul")

In [102]:
name_list.append("jose")

In [106]:
name_list.sort()

In [111]:
name_list

['jose', 'jose', 'maria', 'pedro', 'raul', 'raul']

In [108]:
name_list.count("jose")

2

In [117]:
name_list.remove("raul")

In [118]:
name_list2 = name_list.copy()

In [120]:
name_list2

['jose', 'jose', 'maria', 'pedro', 'raul']

In [124]:
# correr la lista
for name in name_list:
    if name == "raul":
        print("found", name)

found raul

In [132]:
name_list[0:3]

['jose', 'jose', 'maria']

In [134]:
print(name_list)

['jose', 'jose', 'maria', 'pedro', 'raul']

In [135]:
name_list[0:3]

['jose', 'jose', 'maria']

In [137]:
name_list[:3]

['jose', 'jose', 'maria']

In [139]:
name_list[2:4]

['maria', 'pedro']

In [147]:
name_list[-4:-1]

['jose', 'maria', 'pedro']

In [153]:
for name in range(len(name_list)):
    print(name_list[name])

jose
jose
maria
pedro
raul

In [149]:
len(name_list)

5